.buttonDefault
  @include resetButton()

  $size: 56px

  border-radius: 8px
  width: 144px
  height: $size
  font-size: 16px
  font-weight: bold
  line-height: $size
  background-color: $colorBackgroundAccent
  color: $colorWhite
  transition: background-color $timeShort

  @include hover()
    background-color: $colorBackgroundSub

.inputDefault, .textareaDefault
  position: relative
  display: block
  margin-bottom: 20px

  .input, .textarea
    display: block
    outline: none
    box-sizing: border-box
    margin-top: 8px
    border: 1px solid $colorBackgroundDefault
    border-radius: 8px
    width: 100%
    font-family: $fontDefault
    font-size: 16px
    line-height: 32px
    color: $colorTextDefault
    background-color: $colorBackgroundDefault

    &::placeholder
      color: $colorTextSub

    &:focus
      border-color: $colorBackgroundSub

  .title
    font-size: 14px
    font-weight: bold
    line-height: 1.7
    color: $colorTextDefault

  .required
    &:after
      content: '*'
      display: inline
      margin-left: 4px
      color: $colorTextAccent

  .error
    position: absolute
    top: 100%
    left: 0
    margin-top: 8px
    font-size: 12px
    line-height: 1
    color: $colorTextAccent

  .warned
    border-color: $colorTextAccent

.inputDefault .input
    padding: 8px 16px

.textareaDefault .textarea
    resize: none
    padding: 14px 16px
    height: 168px

.attachmentInputDefault
  $size: 48px
  $color: #333333

  display: flex
  align-items: baseline
  box-sizing: border-box
  border: 1px solid rgba($color, .2)
  border-radius: 10px
  padding: 0 24px
  height: $size
  font-family: $fontDefault
  font-size: 14px
  line-height: $size
  background-color: $colorWhite
  color: $color

  @include hover()
    border-color: $colorBackgroundSub

  .icon
    &:before
      content: ''
      display: inline-block
      height: 100%
      vertical-align: center

    img
      display: inline-block
      vertical-align: middle

  .title
    display: none
    margin: 0 16px

    @include media()
      display: block

  .counter
    margin-left: auto
    color: $colorTextSub

.titleDefault
  font-size: 40px
  font-weight: bold
  line-height: 1.6
  text-transform: capitalize
  text-align: center

