$colorBlack: #000000
$colorWhite: #ffffff

$colorTextDefault: #636363
$colorTextSub: #A7A7A7
$colorTextAccent: #F15557

$colorBackgroundDefault: #F9F9F9
$colorBackgroundSub: #1E34A5
$colorBackgroundAccent: #DA3F5B
