@import "styles/variables/all"
@import "styles/mixins/all"

.container
  overflow-x: hidden
  margin: 50px auto 0
  max-width: 600px

.tape
  @include resetList()

  position: relative
  display: flex
  transition: left $timeAverage ease-out

.card
  flex: 1 0 100%
  transform: scale($scaleDown)
  transition: $timeAverage
  opacity: $opacityHigh
  box-sizing: border-box
  border-radius: 8px
  padding: 40px 20px
  color: $colorTextDefault
  background-color: $colorWhite

  @include media()
    padding: 56px

.activeCard
  opacity: 1
  transform: scale(1)

.contacts
  [class="fields"]

    label
      &:not(:first-child)
        margin-top: 40px

    @include media()
      display: flex
      flex-wrap: wrap
      justify-content: space-between

      label
        flex-basis: 100%

        &:not(:first-child)
          margin-top: 20px

        &:nth-child(1)
          flex-basis: 55%

        &:nth-child(2)
          flex-basis: 37%
          margin-top: 0

  [class="options"]
    margin-top: 40px

    [type="submit"]
      width: 100%

      @include media()
        width: 144px
